/* 
 * style.css
 */

body {
	background: url('https://filecdn-images.xingyeai.com/image_inference_output/nebula/prod/img/2024-04-20/c06d7c14-8858-4755-a182-0758bf04faf2-1.jpeg') fixed no-repeat center;
	background-size: auto 100%;
	transition: all 2s;
}

@keyframes color {
	0%	{color: red;}
	8.3%	{color: orange;}
	16.6% {color: yellow;}
	24.9% {color: green;}
	33.2% {color: blue;}
	41.5% {color: indigo;}
	49.8% {color: violet;}
	58.1% {color: indigo;}
	66.4% {color: blue;}
	74.7% {color: green;}
	83% {color: yellow;}
	91.3% {color: orange;}
	100% {color: red;}
}
@keyframes bgColor {
	0%	{background: red;}
	8.3%	{background: orange;}
	16.6% {background: yellow;}
	24.9% {background: green;}
	33.2% {background: blue;}
	41.5% {background: indigo;}
	49.8% {background: violet;}
	58.1% {background: indigo;}
	66.4% {background: blue;}
	74.7% {background: green;}
	83% {background: yellow;}
	91.3% {background: orange;}
	100% {background: red;}
}
@keyframes textCurColor {
	0%	{caret-color: red;}
	8.3%	{caret-color: orange;}
	16.6% {caret-color: yellow;}
	24.9% {caret-color: green;}
	33.2% {caret-color: blue;}
	41.5% {caret-color: indigo;}
	49.8% {caret-color: violet;}
	58.1% {caret-color: indigo;}
	66.4% {caret-color: blue;}
	74.7% {caret-color: green;}
	83% {caret-color: yellow;}
	91.3% {caret-color: orange;}
	100% {caret-color: red;}
}
.fa, .fa-solid {
	animation: color 15s infinite;
		margin-top: 10px;
		margin-left: 10px;
}

.hljs {
	border-radius: 10px;
}
.panel {

}
[type="submit"] {
	animation: bgColor 15s infinite;
	font-size: 16px;
	border-radius: 10px;
}
.tab {
	padding: 2px;
	margin-top: calc(-20vh);
	margin-left: -8px;
	background: url(../images/smcfcper.tab.png) fixed no-repeat;
	background-size: 100% auto;
	color: transparent;
	/* border-radius: 0 0 10px 10px; */
	font-size: 40px;
	position: fixed;
	z-index: 100;
	width: 100%;
	/* text-shadow: #ccc 2px 2px 3px;
	animation: color 5s infinite; */
	/* box-shadow: 0 1px black; */
}
sidebar {
	padding: 10px;
	position: fixed;
	top: calc(45vh);
	right: calc(-10vw);
	background-color: #3456;
	border-radius: 10px;
	transition: all 2s;
	font-size: 20px;
	user-select: none;
	max-height: 64px;
}
sidebar:hover, sidebar:hover>dl#sidebar>dt>button>i {
	right: 0;
	opacity: 1;
	max-height: 1000px;
	transition: all 2s;
}
dl#sidebar>dt>button>i {
	opacity: 0;
}
.box {
	padding: 10px;
	background-color: #fffa;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	height: 100%;
}
.codeBox, .reslutBox {
	height: 45%;
}
noscript>dialog {
	z-index: 114514;
}
dialog {
	margin-top: -20px;
	z-index: 100;
	font-size: 32px;
	top: calc(50vh);
	color: white;
	background: black;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
		
}
a {
	color: deeppink;
	text-decoration-color: deeppink;
}
a::after {
	font-family: "Font Awesome 6 Free";
	font-weight: 900;
	content: "\f35d";
}
i, div>span {
	user-select: none;
}

label {
	margin-top: 15px;
	padding: 5px;
	font-size: 24px;
	font-weight: bold;
	background: black;
	color: white;
	border-radius: 10px;
	user-select: none;
}
footer {
	position: fixed;
	bottom: 0;
	z-index: -1;
	left: calc(50vw);
}

code, #code {
	font-family: "fira code";
	font-size: 20px;
	font-weight: normal;
	transition: all 2s;
}
.codeBox {
	display: grid;
}
#code, #codeHlP {
	grid-area: 2 / 1 / 3 / 2;
}
code#codeHl, #codeHlP {
	max-width: calc(100vw);
}
div#code {
	overflow-x: auto;
	padding: 1em;
	color: transparent;
	z-index: 1;
	margin-top: 12px;
	animation: textCurColor 15s infinite;
	outline: none;
}
div#messageBox {
	/* padding: 16px; */
	font-size: 24px;
	top: calc(60vh);
	right: calc(-10vw);
	position: fixed;
	transition: right 1s;
	display: inline-flex;
	/* background-color: #1234;
	border-radius: 10px; */
	color: yellow;
}
div#messageBox[new] {
	right: 16px;
}
div#mainWindow {
	margin-top: calc(20vh);
}
div#aboutWindow {
	position: absolute;
	top: calc(20vh);
	left: calc(20vw);
	height: calc(65vh);
	z-index: 2;
	border-radius: 10px;
	border: 1px solid #eec;
	cursor: move;
	user-select: none;
}
/* div#aboutWindow>label {
	position: relative;
    height: 28px;
    z-index: 3;
    background: #f3f3f3;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom: 1px solid #eec;
    cursor: move;
} */
button.iconBtn {
	border: none;
	background-color: transparent;
	cursor: pointer;
	margin: 6px;
}
button.iconBtn:hover {
	-webkit-animation-name: fa-bounce;
					animation-name: fa-bounce;
	-webkit-animation-delay: var(--fa-animation-delay, 0s);
					animation-delay: var(--fa-animation-delay, 0s);
	-webkit-animation-direction: var(--fa-animation-direction, normal);
					animation-direction: var(--fa-animation-direction, normal);
	-webkit-animation-duration: var(--fa-animation-duration, 1s);
					animation-duration: var(--fa-animation-duration, 1s);
	-webkit-animation-iteration-count: var(--fa-animation-iteration-count, infinite);
					animation-iteration-count: var(--fa-animation-iteration-count, infinite);
	-webkit-animation-timing-function: var(--fa-animation-timing, cubic-bezier(0.28, 0.84, 0.42, 1));
					animation-timing-function: var(--fa-animation-timing, cubic-bezier(0.28, 0.84, 0.42, 1));
}
button.normal {
	padding: 16px;
	border: none;
	border-radius: 10px;
	background-color: deeppink;
	transition: background-color 2s, color 2s;
	color: white;
	cursor: pointer;
}
button.normal:hover, button.normal:focus {
	background-color: hotpink;
}
button.normal:active {
	background-color: pink;
	color: black;
}

[tooltip]:hover::before, [tooltip]:focus::before {
	padding: 6px;
	display: block;
	content: attr(tooltip);
	position: absolute;
	margin-top: 25px;
	margin-left: -100px;
	background-color: #2333;
	border-radius: 10px;
	z-index: 10;
	text-align: center;
	font-size: 20px;
	animation: color 15s infinite;
	pointer-events: none;
	width: 100px;
}

.arrow#mobile {
	display: block;
}
.arrow#desktop {
	display: none;
}

div.subWindow {
	padding: 10px;
	margin-top: 10px;
	background-color: #234a;
	border-radius: 10px;
}
div.subWindow>label {
	opacity: 1;
}
div.subWindow>label::before {
	content: "收起 ";
}
div.subWindow:hover>label::before {
	content: "展开 ";
}
div.subWindow>* {
	opacity: 0;
	max-height: 0;
	transition: all 2s;
}
div.subWindow:hover>* {
	opacity: 1;
	max-height: 1000px;
}

@media screen and (min-width: 1000px) {
	/* 适配pc显示 */
	body {
		background-color: #d5d3d4;
		background-position: right;
	}
	.tab {
		height: calc(10vh);
		background-size: auto;
		background-color: black;
		margin-top: calc(-20vh);
	}
	sidebar {
		right: calc(-2vw);
	}
	.fa, .fa-solid {
		margin-top: unset;
		margin: 2px;
	}
	.arrow#mobile {
		display: none;
	}
	.arrow#desktop {
		display: block;
	}
	#mainWindow {
		flex-flow: row;
		margin-top: calc(14vh);
	}
	#code, #codeHl, #result {
		min-width: calc(35vw);
	}
	.codeBox {
		/* margin-top: -10px; */
	}
	label {
		animation: color 15s infinite;
	}
	div#aboutWindow {
		width: calc(32vw);
		max-height: calc(65vh);
	}
	[tooltip]:hover::before, [tooltip]:focus::before {
		margin-top: 25px;
	}
}
@media (prefers-color-scheme: dark) {
	/* 自适应夜间主题 */
	html {
		background-color: #181a1b !important;
		color: white;
	}
	button.iconBtn[tooltip="夜间"] {
		display: none;
	}
	button.iconBtn[tooltip="日间"] {
		display: block;
	}
	div.box {
		background-color: rgba(24, 26, 27, 0.67);
	}
	footer {
		animation: color 15s infinite;
	}
}

html {
	transition: background-color 2s;
}
/* html[light] {
	background-color: #d5d3d4;
}
html[light]>body>div.box {
	background-color: #fffa;
} */
