/* 
 * style.css
 */
@keyframes loading {
	from {transform: rotate(0deg);}
	to   {transform: rotate(360deg);}
}
load {
	width: 100%;
	height: 100%;
	color: #fff;
	background-color: #000000f0;
	z-index: 114;
	position: fixed;
	left: 0;
	top: 0;
	display: flex;
	align-content: center;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
load>text {
	font-size: 2.5em;
	margin-top: 60px;
}
.load-icon {
	display: block;
	width: 256px;
	height: 256px;
	background: url('https://filecdn-images.xingyeai.com/image_inference_output/nebula/prod/img/2024-04-20/c06d7c14-8858-4755-a182-0758bf04faf2-1.jpeg') no-repeat;
	background-size: cover;
	border-radius: 100%;
	animation: loading linear 5s infinite;
	position: absolute;
	top: 16%;
}

body {
	/* background: url('https://filecdn-images.xingyeai.com/image_inference_output/nebula/prod/img/2024-04-20/c06d7c14-8858-4755-a182-0758bf04faf2-1.jpeg') fixed no-repeat center;
	background-size: auto 100%;
	transition: all 2s; */
}

@keyframes color {
	0%    {color: red;}
	8.3%  {color: orange;}
	16.6% {color: yellow;}
	24.9% {color: green;}
	33.2% {color: blue;}
	41.5% {color: indigo;}
	49.8% {color: violet;}
	58.1% {color: indigo;}
	66.4% {color: blue;}
	74.7% {color: green;}
	83%   {color: yellow;}
	91.3% {color: orange;}
	100%  {color: red;}
}
@keyframes bgColor {
	0%    {background: red;}
	8.3%  {background: orange;}
	16.6% {background: yellow;}
	24.9% {background: green;}
	33.2% {background: blue;}
	41.5% {background: indigo;}
	49.8% {background: violet;}
	58.1% {background: indigo;}
	66.4% {background: blue;}
	74.7% {background: green;}
	83%   {background: yellow;}
	91.3% {background: orange;}
	100%  {background: red;}
}
@keyframes textCurColor {
	0%    {Paint: red;}
	8.3%  {Paint: orange;}
	16.6% {Paint: yellow;}
	24.9% {Paint: green;}
	33.2% {Paint: blue;}
	41.5% {Paint: indigo;}
	49.8% {Paint: violet;}
	58.1% {Paint: indigo;}
	66.4% {Paint: blue;}
	74.7% {Paint: green;}
	83%   {Paint: yellow;}
	91.3% {Paint: orange;}
	100%  {Paint: red;}
}
.fa, .fa-solid {
	animation: color 15s infinite;
		margin-top: 10px;
		margin-left: 10px;
}

[type="submit"] {
	animation: bgColor 15s infinite;
	font-size: 16px;
	border-radius: 10px;
}
[result] {
	pointer-events: none;
}
.title {
	position: fixed;
	font-family: "fira code";
	font-size: 4em;
	font-weight: bold;
	top: 0;
	left: 0;
	background-color: #000;
	width: 100%;
	z-index: 100;
}
sidebar {
	padding: 10px;
	position: fixed;
	top: calc(45vh);
	right: calc(-10vw);
	background-color: #3456;
	border-radius: 10px;
	transition: all 2s;
	font-size: 20px;
	user-select: none;
	max-height: 64px;
}
sidebar:hover, sidebar:hover>dl#sidebar>dt>button>i {
	right: 0;
	opacity: 1;
	max-height: 1000px;
	transition: all 2s;
}
sidebar>p {
	animation: color 15s infinite;
}
dl#sidebar>dt>button>i {
	opacity: 0;
}
.box {
	padding: 10px;
	background-color: #fffa;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	height: 100%;
}
noscript>load {
	z-index: 114514;
}
a {
	color: deeppink;
	text-decoration-color: deeppink;
}
a::after {
	font-family: "Font Awesome 6 Free";
	font-weight: 900;
	content: "\f35d";
	margin-left: 0.5em;
}
i, div>span {
	user-select: none;
}

label {
	margin-top: 15px;
	padding: 5px;
	font-size: 24px;
	font-weight: bold;
	background: black;
	color: white;
	border-radius: 10px;
	user-select: none;
}
footer {
	position: fixed;
	bottom: 0;
	z-index: 1000;
	right: 0
}
footer>p {
	text-align: right;
}

[smcfcode] {
	margin-top: 1.9em;
	font-family: "fira code" !important;
	font-size: 20px;
	font-weight: normal;
	transition: all 2s;
	overflow-x: auto;
	animation: textCurColor 15s infinite;
	outline: none;
	background: url("../images/freelucker.png") fixed top right no-repeat #181a1b;
	background-size: contain;
}
div#code:empty:before {
	content: attr(tip);
	position: absolute;
	color: grey;
}
#messageBox {
	/* padding: 16px; */
	font-size: 24px;
	top: calc(60vh);
	right: calc(-10vw);
	position: fixed;
	transition: right 1s;
	display: inline-flex;
	/* background-color: #1234;
	border-radius: 10px; */
	color: yellow;
}
div#messageBox[new] {
	right: 16px;
}
#mainWindow {
	position: relative;
	left: 0; top: 0;
}
#aboutWindow {
	position: absolute;
	top: calc(20vh);
	left: calc(20vw);
	height: calc(65vh);
	z-index: 2;
	border-radius: 10px;
	border: 1px solid #eec;
	cursor: move;
	user-select: none;
}
button.icon {
	font-size: 1.5em;
	border: none;
	background-color: transparent;
	cursor: pointer;
	margin: 6px;
}
button>i:hover {
	transform: rotate(360deg);
	transition: transform 2s;
}
button.normal {
	padding: 16px;
	border: none;
	border-radius: 10px;
	background-color: deeppink;
	transition: background-color 2s, color 2s;
	color: white;
	cursor: pointer;
}
button.normal:hover, button.normal:focus {
	background-color: hotpink;
}
button.normal:active {
	background-color: pink;
	color: black;
}

[tooltip]:hover::before, [tooltip]:focus::before {
	transform: none;
	padding: 6px;
	display: block;
	content: attr(tooltip);
	position: absolute;
	margin-top: 25px;
	margin-left: -100px;
	background-color: #2333;
	border-radius: 10px;
	z-index: 10;
	text-align: center;
	font-size: 20px;
	animation: color 15s infinite;
	pointer-events: none;
	width: 100px;
}

[tooltip]:hover::before {
	margin-left: auto;
}

.arrow#mobile {
	display: block;
}
.arrow#desktop {
	display: none;
}

div.subWindow {
	padding: 10px;
	margin-top: 10px;
	background-color: #234a;
	border-radius: 10px;
}
div.subWindow>label {
	opacity: 1;
}
div.subWindow>label::before {
	content: "收起 ";
}
div.subWindow:hover>label::before {
	content: "展开 ";
}
div.subWindow>* {
	opacity: 0;
	max-height: 0;
	transition: all 2s;
}
div.subWindow:hover>* {
	opacity: 1;
	max-height: 1000px;
}
popup {
	position: fixed;
	left: 8vw;
	/* opacity: 0; */
	padding: 2rem;
	font-size: 1.2rem;
	border: var(--font-color) solid 2px;
	border-radius: 5px;
	min-height: 40vh;
	min-width: 80vw;
	z-index: 100;
	transition: opacity 0.6s;
}

@media screen and (min-width: 1000px) {
	/* 适配pc显示 */
	body {
		background-color: #d5d3d4;
		background-position: right;
	}
	sidebar {
		right: calc(-2vw);
	}
	.fa, .fa-solid {
		margin-top: unset;
		margin: 2px;
	}
	.arrow#mobile {
		display: none;
	}
	.arrow#desktop {
		display: block;
	}
	#code, #codeHl, #result {
		min-width: calc(35vw);
	}
	.codeBox {
		/* margin-top: -10px; */
	}
	label {
		animation: color 15s infinite;
	}
	div#aboutWindow {
		width: calc(32vw);
		max-height: calc(65vh);
	}
	siderbar>[tooltip]:hover::before, siderbar>[tooltip]:focus::before {
		margin-top: 25px;
	}
}
	footer {
		animation: color 15s infinite;
	}

html {
	--display-fonts: "HarmonyOS Sans", 方正兰亭黑, 微软雅黑, "Microsoft Yahei";
	font-family: var(--display-fonts);
	transition: background-color 2s;
}

* {
	padding: 0; margin: 0;
}

/* 代码高亮颜色 */
.ͼb {color: #ff1493 !important;}
.ͼe {color: #6a9955 !important;}
.ͼm {font-style: italic;}
.cm-line {/*background-color: transparent !important;*/ border-top: transparent solid 0.25px; border-bottom: transparent solid 0.25px;}
.cm-activeLine {background-color: unset !important; border-top: #00bfff solid 0.25px; border-bottom: #00bfff solid 0.25px;}
.cm-tooltip {color: #faebd7; background-color: #000 !important; border-color: #444 !important;}
.cm-content {font-family: "fira code" !important; caret-color: #fff !important;}
.cm-line {color: #00bfff; background-color: #4442; caret-color: #fff !important;}
@media (prefers-color-scheme: light) {
	:root {
		--font-color: #181a1b;
		color-scheme: light;
	}
	body {
		background-color: #faebd7;
	}
	
	[smcfcode] {
		background-color: #faebd7;
	}
}
@media (prefers-color-scheme: dark) {
	:root {
		--font-color: #faebd7;
		color-scheme: dark;
	}
	body {
		background-color: #181a1b;
	}
	
	[smcfcode] {
		background-color: #181a1b;
	}
}
